{{define "buckets"}}

<div id="buckets-page" class="container" style="display: none">
    <div class="row">
        <div class="col-xs-12">
            <a href="#make-bucket">
                <button type="button" class="btn btn-warning btn-lg" ontouchstart="bootpage.show('make-bucket-page', focusMakeBucket);">New Bucket</button>
            </a>
        </div>
    </div>
    {{template "loader"}}
    <div class="row after-load">
        <div class="col-xs-12">
            <ul id="buckets-list" class="list-group"></ul>
        </div>
    </div>
</div>

{{end}}
