{{define "expense"}}
<!DOCTYPE html>
<html>

{{template "head"}}

<body onload="init()">
    {{template "navigation"}}
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                <a href="/expense/log">
                    <button type="button" class="btn btn-default btn-lg">Log Expense</button>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <ul class="list-group">
                    <li class="list-group-item">
                        <div class="row list-row">
                            <div class="col-xs-3">Target</div>
                            <div class="col-xs-7">Miscellaneous groceries</div>
                            <div class="col-xs-2"><span class="badge">$14</span></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row list-row">
                            <div class="col-xs-3">Target</div>
                            <div class="col-xs-7">Miscellaneous groceries</div>
                            <div class="col-xs-2"><span class="badge">$14</span></div>
                        </div>
                    </li>
                    <li class="list-group-item">
                        <div class="row list-row">
                            <div class="col-xs-3">Target</div>
                            <div class="col-xs-7">Miscellaneous groceries</div>
                            <div class="col-xs-2"><span class="badge">$14</span></div>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>

{{template "auth0" .}}

</html>
{{end}}
