{{define "expenses"}}
<!DOCTYPE html>
<html>

{{template "head"}}

<body onload="init()">
    {{template "navigation"}}
    <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <a href="/expenses/log">
                    <button type="button" class="btn btn-warning btn-lg">Log Expense</button>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12">
                <ul id="expenses-list" class="list-group"></ul>
            </div>
        </div>
    </div>
</body>

{{template "auth0" .}}

</html>
{{end}}
