{{define "log-expense"}}

<div id="log-expense-page" class="container" style="display: none">
    <div class="row">
        <div class="col-xs-10 col-xs-offset-1">
            <div class="form-group">
                <div class="input-group">
                    <div class="input-group-addon">$</div>
                    <input type="number" pattern="[0-9]*" class="form-control" id="log-expense-amount" placeholder="0.00">
                </div>
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="log-expense-recipient" placeholder="Target, Smith's, etc.">
            </div>
            <div class="form-group">
                <input type="text" class="form-control" id="log-expense-note" placeholder="Bought because reasons">
            </div>
            <div class="form-group">
                <div class="dropdown">
                    <button class="btn btn-default dropdown-toggle" type="button" id="bucket-dropdown" data-toggle="dropdown">
                        Bucket
                        <span class="caret"></span>
                    </button>
                    <ul id="bucket-dropdown-options" class="dropdown-menu"></ul>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-warning save-button" ontouchstart="logExpense()">Log Expense</button>
            </div>
        </div>
    </div>
</div>

{{end}}
