{{define "head"}}

<head>
    <title>Byudzhet</title>
    <link rel="apple-touch-icon" href="/images/icon.png">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="images/splash.png" media="(device-width: 375px) and (device-height: 667px)
                 and (-webkit-device-pixel-ratio: 2)" rel="apple-touch-startup-image">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
    <link rel="shortcut icon" type="image/jpeg" href="https://s.gravatar.com/avatar/3b035bb42f7d63b407e996171bb53e2e?s=180" />
    <script src="https://code.jquery.com/jquery-2.2.3.min.js"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha256-7s5uDGW3AHqw6xtJmNNtr+OBRJUlgkNJEo78P4b0yRw= sha512-nNo+yCHEyn0smMxSswnf/OnX6/KwJuZTlNZBjauKhTK0c+zT+q5JOCx0UFhXQ6rJR9jg6Es8gPuD2uZcYDLqSw=="
        crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha256-3dkvEK0WLHRJ7/Csr0BZjAWxERc5WH7bdeUya2aXxdU= sha512-+L4yy6FRcDGbXJ9mPG8MT/3UCDzwR9gPeyFNMCtInsol++5m3bk2bXWKdZjvybmohrAsn3Ua5x8gfLnbE1YkOg=="
        crossorigin="anonymous">
    <link rel="stylesheet" href="/styles/sweetalert.css">
    <link rel="stylesheet" href="/styles/loader.css">
    <link rel="stylesheet" href="/styles/main.css">
    <script src="/scripts/sweetalert.min.js"></script>
    <script src="/scripts/bootpage.js"></script>
    <script src="/scripts/main.js"></script>
    <script src="/scripts/buckets.js"></script>
    <script src="/scripts/expenses.js"></script>
    <script src="/scripts/income.js"></script>
    <script src="/scripts/utilities.js"></script>
</head>
{{end}}
