{{define "navigation"}}
<div class="bottom-navigation">
    <a href="/bucket">
        <div id="bucket" class="navigation-button">
            <div class="navigation-icon"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span></div>
            <div class="navigation-text">Buckets</div>
        </div>
    </a>
    <a href="/expense">
        <div id="expense" class="navigation-button">
            <div class="navigation-icon"><span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span></div>
            <div class="navigation-text">Expenses</div>
        </div>
    </a>
    <a href="/income">
        <div id="income" class="navigation-button">
            <div class="navigation-icon"><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span></div>
            <div class="navigation-text">Income</div>
        </div>
    </a>
    <a href="/setting">
        <div id="setting" class="navigation-button">
            <div class="navigation-icon"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></div>
            <div class="navigation-text">Settings</div>
        </div>
    </a>
</div>
{{end}}
