{{define "navigation"}}
<div class="bottom-navigation">
    <a href="#buckets" onclick="setCurrentTab('buckets'); bootpage.switch('buckets-page')">
        <div id="buckets-navigation-icon" class="navigation-button">
            <div class="navigation-icon"><span class="glyphicon glyphicon-tasks" aria-hidden="true"></span></div>
            <div class="navigation-text">Buckets</div>
        </div>
    </a>
    <a href="#expenses" onclick="setCurrentTab('expenses'); bootpage.switch('expenses-page')">
        <div id="expenses-navigation-icon" class="navigation-button">
            <div class="navigation-icon"><span class="glyphicon glyphicon-credit-card" aria-hidden="true"></span></div>
            <div class="navigation-text">Expenses</div>
        </div>
    </a>
    <a href="#income" onclick="setCurrentTab('income'); bootpage.switch('income-page')">
        <div id="income-navigation-icon" class="navigation-button">
            <div class="navigation-icon"><span class="glyphicon glyphicon-piggy-bank" aria-hidden="true"></span></div>
            <div class="navigation-text">Income</div>
        </div>
    </a>
    <a href="#history" onclick="setCurrentTab('history'); bootpage.switch('history-page')">
        <div id="history-navigation-icon" class="navigation-button">
            <div class="navigation-icon"><span class="glyphicon glyphicon-time" aria-hidden="true"></span></div>
            <div class="navigation-text">History</div>
        </div>
    </a>
    <a href="#settings" onclick="setCurrentTab('settings'); bootpage.switch('settings-page')">
        <div id="settings-navigation-icon" class="navigation-button">
            <div class="navigation-icon"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span></div>
            <div class="navigation-text">Settings</div>
        </div>
    </a>
</div>
{{end}}
