input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
    font-size: 16px;
}

body,
html {
    background-color: #3D9970;
}

.container {
    padding-top: 25px;
}

.icon {
    color        : #fff;
    margin-bottom: 25px;
}

.save-button {
    display: block;
    width  : 100%;
}
