input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
    font-size: 16px;
}

body,
html {
    color           : #fff;
    background-color: #3D9970;
    padding-bottom  : 28px;
    font-family     : "Open Sans", sans-serif;
}

.after-load {
    display: none;
}

.list-title {
    font-weight: bold;
}

.badge-amount {
    text-align: right;
}

.panel-body .badge-amount,
.panel-body .list-title {
    padding-left : 0;
    padding-right: 0;
}

.progress {
    margin-bottom: 0;
    margin-top   : 5px;
}

.panel {
    margin-bottom: 0;
    margin-top   : 25px;
}

.lone-panel {
    margin-top: 0;
}

.list-group-item,
.panel-body {
    color: #111;
}

.row {
    padding-top: 25px;
}

.list-row {
    padding-top: 0;
}

button {
    display: block;
}

.dropdown-menu,
button {
    width: 100%;
}

.bottom-navigation {
    position        : fixed;
    bottom          : 0;
    left            : 0;
    width           : 100%;
    height          : 49px;
    border-top      : solid 1px #dddddd;
    background-color: #f9f9f9;
    text-align      : center;
    z-index         : 999;
}

.bottom-navigation a {
    text-decoration: none;
}

.bottom-navigation .active {
    color: #3D9970;
}

.navigation-button,
.navigation-button a,
.navigation-button a:visited {
    color: #dddddd;
}

.navigation-icon {
    position : relative;
    left     : 0;
    top      : 4px;
    width    : 100%;
    font-size: 22px;
}

.navigation-text {
    position : relative;
    bottom   : 3px;
    left     : 0;
    width    : 100%;
    font-size: 12px;
}
