input[type="color"],
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"],
select,
textarea {
    font-size: 16px;
}

body,
html {
    background-color: #3D9970;
}

.container {
    padding-top: 25px;
}

.icon {
    color        : #fff;
    margin-bottom: 25px;
}

.save-button {
    display: block;
    width  : 100%;
}

.bottom-navigation {
    position        : fixed;
    bottom          : 0;
    left            : 0;
    width           : 100%;
    height          : 98px;
    background-color: #f9f9f9;
    color           : #c9c9c9;
    overflow        : none;
    z-index         : 999;
}

.bottom-navigation .active {
    color: #3D9970;
}

.navigation-button {
    display    : inline-block;
    width      : 32.9%;
    height     : 100%;
    padding-top: 15px;
    text-align : center;
    font-size  : 45px;
}

.icon-description {
    font-size: 20px;
}
